<div class="flex justify-center h-screen items-center overflow-hidden">

    <div class="container">
        <div class="cover" [ngClass]="{'rotate-active':isRegister}">

            <div class="front">
                <img src="https://i.ibb.co/V9tct5k/register.png"
                    alt="">

                <div class="text">
                    <span class="text-1">
                        Bem-Vindo ao Criança Feliz.
                    </span>
                    <span text-2>Cuide do bem-estar e saúde do seu filho!</span>
                </div>

            </div>
            <div class="back">
                <img  src="https://i.ibb.co/gw4jdPZ/login.png"
                    alt="">
            </div>

        </div>
        <div class="form h-full">
            <div class="form-content h-full">
                <div class="login-form">
                    <h1 class="text-lg font-bold text-center pb-8">Registrar</h1>

                    <form [formGroup]="registrationForm" (ngSubmit)="handleRegister()"
                        class="w-full p-6 rounded-lg shadow-md">

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">Nome Completo</mat-label>
                                <input matInput placeholder="Digite o Nome Completo..." formControlName="name"
                                    class="py-2 px-3 text-gray-200 mt-1 focous:shadow-outline" />
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">CPF</mat-label>
                                <input matInput placeholder="Digite o CPF..." formControlName="cpf"
                                    class="py-2 px-3 text-gray-200 mt-1 focous:shadow-outline" />
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">E-mail</mat-label>
                                <input matInput placeholder="Digite o seu e-mail" formControlName="email"
                                    class="py-2 px-3 text-gray-200 mt-1 focous:shadow-outline" />
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">Senha</mat-label>
                                <input matInput placeholder="Digite uma senha" formControlName="password"
                                    class="py-2 px-3 text-gray-200 mt-1 focous:shadow-outline" />
                            </mat-form-field>
                        </div>

                        <div>
                            <button class="w-full" mat-raised-button color="accent" type="submit">
                                Registrar
                            </button>
                        </div>
                    </form>
                    <div class="flex items-center gap-2 justify-center mt-9">
                        Já possui uma conta? <button (click)="togglePanel()" mat-button color="warn">
                            Entrar </button>
                    </div>
                </div>

                <div class="signup-form">
                    <h1 class="text-lg font-bold text-center pb-8">Login</h1>

                    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="w-full p-6 rounded-lg shadow-md">
                        

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">E-mail</mat-label>
                                <input matInput placeholder="Digite o seu e-mail" formControlName="email"
                                    class="py-2 px-3 text-gray-200 mt-1 focous:shadow-outline" />
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">Senha</mat-label>
                                <input matInput placeholder="Digite uma senha" formControlName="password"
                                    class="py-2 px-3 text-gray-200 mt-1 focous:shadow-outline" />
                            </mat-form-field>
                        </div>

                        <div>
                            <button class="w-full" mat-raised-button color="accent" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="flex items-center gap-2 justify-center mt-9">
                        Não tem uma conta registrada? <button (click)="togglePanel()" mat-button color="warn">
                            Registrar </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>